<section>
  <div class="mt-5">
    <h1 class="text-center">Reset password</h1>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card" style="width: 500px;">
        <div class="card-body">
          <p class="text-center">Please enter your email address to request a password reset.</p>
          <form [formGroup]="forgotPasswordForm" class="needs-validation" [class.was-validated]="isFormSubmitted">
            <div class="mb-3">
              <label for="passwordResetEmail" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email Address" formControlName="passwordResetEmail" required>
              @if (forgotPasswordForm.controls['passwordResetEmail'].errors && forgotPasswordForm.controls['passwordResetEmail'].errors['required']) {
                <div class="invalid-feedback">
                  Email field cannot be empty.
                </div>
              }

              @if (forgotPasswordForm.controls['passwordResetEmail'].errors && forgotPasswordForm.controls['passwordResetEmail'].errors['pattern']) {
                <div class="invalid-feedback">
                  Email format not valid.
                </div>
              }
            </div>

            <div class="d-flex flex-column align-items-center justify-content-between gap-2">
              <button type="button" class="btn btn-primary w-100"
              (click)="forgotPassword()">Reset Password</button>
              <p class="m-0">Or go back to</p>
              <button type="button" class="btn btn-secondary w-100" [routerLink]="['/sign-in']"> Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
