<section>
  <div class="mt-5">
    <h1 class="text-center">Sign Up</h1>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card" style="width: 500px;">
        <div class="card-body">

          @if (hasErrors) {
            <div class="alert alert-danger">
              {{errorMessage}}
            </div>
          }

          <form [formGroup]="signUpForm" class="needs-validation" [class.was-validated]="isFormSubmitted">
            <div class="mb-3">
              <label for="userEmail" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="userEmail" required>
              @if (signUpForm.controls['userEmail'].errors && signUpForm.controls['userEmail'].errors['required']) {
                <div class="invalid-feedback">
                  Email field cannot be empty.
                </div>
              }
              @if (signUpForm.controls['userEmail'].errors && signUpForm.controls['userEmail'].errors['pattern']) {
                <div class="invalid-feedback">
                  Email format not valid.
                </div>
              }
            </div>
            <div class="mb-3">
              <label for="userPassword" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="userPassword"
                required>
              @if (signUpForm.controls['userPassword'].errors && signUpForm.controls['userPassword'].errors['required'])
              {
                <div class="invalid-feedback">
                  Password field cannot be empty.
                </div>
              }
            </div>

            <div class="d-flex flex-column align-items-center justify-content-between gap-2">
              <button type="button" class="btn btn-primary w-100" (click)="signUp()">Register</button>
              <p class="m-0">Or use</p>
              <button type="button" class="btn btn-secondary w-100" (click)="googleSignUp()">Google</button>
            </div>

            <hr>

            <div class="d-flex flex-column align-items-center justify-content-between gap-2">
              <p class="m-0">Already have an account?</p>
              <button type="button" class="btn btn-outline-primary w-100" [routerLink]="['/sign-in']"> Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
